.scroll {
  padding: 10px 0 10px !important;
}

.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 0px !important;
}
.messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 5px 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}
.time.slide-right {
  -webkit-transform: translate3d(130px, 0, 0) !important;
  -moz-transform: translate3d(130px, 0, 0) !important;
  transform: translate3d(130px, 0, 0) !important;
}

.messages.other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
.messages.other .message.slide-right {
  -webkit-transform: translate3d(120px, 0, 0) !important;
  -moz-transform: translate3d(120px, 0, 0) !important;
  transform: translate3d(120px, 0, 0) !important;
}

.messages span {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px 12px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
.messages span.ng-binding {
  background: #e1edfb !important;
  color:#151719 !important;
  border-radius: 12px 12px 12px 0px !important;
}
.messages.other span {
  color: #fcfcfc !important;
  background-color: #997fef !important;
  border-radius: 12px 12px 0px 12px !important;
}


.messages.other .message.sp {
  padding: 0px !important;
  text-align: left !important;
}





.slider {
}
.slider-pager {
    display:none !important;
}
.slider-slides {
  height: -moz-available !important;
  height: object-fit !important;
}
.slider-slide {
/*    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    width: 200px !important;
    border: 1px solid #000;
    margin: 62px 56px
    padding-left: 20px;
    padding-right: 20px;*/
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100vw !important;
    max-height: 280px !important;
}
.map {
  height: 380px;
  background: rgba(0,0,0,0.5);
}

.slider-slides {
  height: auto !important;
}
/*.bar.bar-header {
  height: 50px;
}
.title.header-item {
  line-height: 60px;
}
.bar.bar-header > h1 {
  height: 55px;
  line-height: 95px !important;
}
.has-header {
  top:50px;
}*/
.messages {
  padding-top: 0px !important;
}


.message.sp {
  margin-top:-15px !important;
}
.message.sp.ytsnippet {
  margin-bottom: 15px !important;
  margin-top: 10px !important;
}
.message.sp.ytsnippet .box {
  padding: 0px 10px;
}


/* PC Control */
.directories {
  max-height: 220px;
  overflow-y: scroll;
}




#timer {
  position: fixed;
  left: 0px;
  width: 0%;
  height: 15px;
  top: 0px;
  background:#3399ff;
  display: block;
}
#timer.hide {
  width: 0%;
  display: none;
}
#timer.start {
  display: inline-block !important;
  animation:loadTimer 3217ms linear 1;
}
@keyframes loadTimer {
  to {
    width: 100%;
  }
}


.slidebox-g {
  margin:20px 0px 10px;
}
.conveter {
  margin-top:12px;
  border:1px solid #ddd;
  text-align: center;
  background: #fafafa;
}
.converter label {
  color:#444;
}
.conveter input {
  margin-top: 6px;
  width: 100%;
  text-align: center;
  font-size: 19px;
  background: #fff;
  border:1px solid #eee;
}

.loading {
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  height: calc(100vh - 1px);
  background: rgba(0,0,0,0.32);
  z-index: 100000;
}
.bt-item {
  border-bottom: 1px solid #ccc;
  padding: 3px 12px;
  font-size: 15px;
}
.file-edit-menu {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 50px;
}
.file-edit-menu >div {
  width: 100%;
  background: #3399ff;
  color: #eee;
  border-right:1px solid #eee; 
  height: 90%;
}
.file-edit-textarea {
  width: 100%;
  height: calc(100vh - 105px);
  border:none;
}